@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>John Doe's Foods Ltd</h1>
    <p class="lead">The leading Irish foods wholesaler for both households and businesses.</p>
    <p><a href="Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div> 
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            John Doe's Foods is one of the leading Irish foods wholesaler in Ireland, to get started you will need to create an account to be able to order on our wonderful catalouge!
        </p>
        <p><a class="btn btn-default" href="Account/Register">Register now! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our catalouge</h2>
        <p>We have a wide variety of pre made foods which are crafted by our experts. Please come view our wonderful catalouge today!</p>
        <p><a class="btn btn-default" href="Home/Catalouge">View catalouge! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Suppliers</h2>
        <p>Here at John Doe's Food Ltd we can gurantee that our ingredients are 100% Irish and can be traced back to the according supplier. Please check out our amazing suppliers today!</p>
        <p><a class="btn btn-default" href="Home/Suppliers">View suppliers! &raquo;</a></p>
    </div>
</div>