@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>John Doe's Foods Ltd</h1>
    <p class="lead">The leading Irish foods wholesaler for both households and businesses.</p>
    <p><a href="../Account/Register" class="btn btn-primary btn-lg">Register Now! &raquo;</a></p>
</div> 
<div class="row">
    <div class="col-md-3">
        <h2>Search for an Customer</h2>
        <p>
            Searching for a customer had never been easier! Just input the Id to view their details!
        </p>
        <p><a class="btn btn-default" href="../Customers/Search">Search for Customer! &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Search for an Product</h2>
        <p>
            Searching for an product had never been easier! Just input the Id to view their details!
        </p>
        <p><a class="btn btn-default" href="../Catalouges/Search">Search for Product! &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Search for an Supplier</h2>
        <p>
            Searching for a Supplier had never been easier! Just input their Id to view their details!
        </p>
        <p><a class="btn btn-default" href="../Suppliers/Search">Search for Supplier! &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>
            Search for Orders
        </h2>
        <p>
            Searching for an Order had never been easier! Just input their Id to view their details!
        </p>
        <p><a class="btn btn-default" href="../Orders/Search">Search for an Order! &raquo;</a></p>
    </div>
</div>