
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search order by Id</h2>

<div class="col-md-10">
    <input type="text" id="OrderId" size="5" />
    <input type="submit" name="SearchButton" id="SearchButton" value="Search" />
</div>
<br />
<div id="divProcessing">
    <p>Processing, please wait . . .<img src="../../Content/ajax-loader.gif" height="50"></p>
</div>
<br />
<div id="divResult"></div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $("#divProcessing").hide();
            $('#SearchButton').click(function () {
                search();
            });
        });

        function search() {
            $("#divResult").empty();
            $("#divProcessing").show();
            var orderId = $("#OrderId").val();
            var url = "../../api/orders/" + orderId;
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                success: function (resp) {
                    $("#divProcessing").hide();
                    $("<h3>Result</h3>").appendTo("#divResult");
                    $("#divResult").append("<p>Date Ordered: " + resp.DateOrdered + "<br/>");
                    $("#divResult").append("Product:<br/>");
                    for (var i = 0; i < resp.Product.length; i++) {
                        $("#divResult").append(resp.Product[i].FoodName);
                    }
                    $("#divResult").append("<br/>Customer:<br/>");
                    for (var i = 0; i < resp.Customer.length; i++) {
                        $("#divResult").append(resp.Customer[i].CustomerName);
                    }
                    $("#divResult").append("<br/></p>");
                }
            })
        }
    </script>
}
